<!DOCTYPE html>
<html>
<head>
    <title>Your Accounts</title>
</head>
<body>
    <h1>Your Accounts</h1>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'create_account' %}">Create a New Account</a>
    <ul>
        {% for account in accounts %}
            <li>
                <strong>{{ account.account_type }} Account</strong><br>
                Account Number: {{ account.account_number }}<br>
                Balance: ${{ account.balance }}<br>

                Status:
                {% if account.is_locked %}
                    <span style="color: red;">Locked</span>
                {% else %}
                    <span style="color: green;">Active</span>
                {% endif %}<br>
                {% if not account.is_locked %}
                    {% if account.account_type == 'Saving' %}

                        Interest: ${{ account.interest }}<br>

                    {% endif %}

                    {% if account.account_type == 'Credit Card' %}

                        Maximum Credit Available: ${{ account.max_credit_available }}<br>

                        Initial credit is $1000.00<br>
                    {% endif %}<br>

                </a>
                    <a href="{% url 'deposit' account.id %}">Deposit</a>
                    <a href="{% url 'withdraw' account.id %}">Withdraw</a>
                    <a href="{% url 'transfer' account.id %}">Transfer</a>
                {% endif %}

                <a href="{% url 'account_lock' account.id %}">

                    {% if account.is_locked %}Unlock{% else %}Lock{% endif %}</a>

                <a href="{% url 'account_detail' account.id %}">View Details</a>
                <a href="{% url 'delete_account' account.id %}" style="color: red;">Delete</a>

            </li><br>
        {% endfor %}
    </ul>

    <!-- logout button -->
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>